<div class="container">
  <%= simple_form_for(@article) do |f| %>
    <div class="form-inputs">
      <%= f.input :title, label: "Título:" %>
    </div>

    <div class="form-inputs">
      <%= f.rich_text_area :rich_body %>
      <%= f.input :photo, as: :file %>
    </div>
  
    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>


<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Criar Tag 
</button>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
      <%= simple_form_for(@tag) do |f| %>
      <div class="modal-body">
        <%= f.input :title, label: "Nome:"%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <%= f.button :submit, :class => "btn btn-primary", label: "Criar" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
</div>